.banner{
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #E0DDFF 0%, #FFFFFF 100%);
    padding: 0 130px;
    margin-bottom: 30px;
}

.main-text{
    width: 50%;
    padding: 50px 0 30px 0;
}



.main-text h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    padding-bottom: 15px;
}

.main-text p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 15px;
}

.btn-style {
    background: #393381;
    padding: 10px 30px;
    border-radius: 20px 20px 20px 0px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.banner-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.main-img{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin: 0 40px auto 50px;
    gap: 20px;
}

.main-img_cont{
    margin-bottom: 20px;
    position: relative;
}

.rectangle10 {
    margin-top: 100px;
    padding: 15px;
    position: relative;
}

#rect10{
    position: absolute;
    top: 20px;
    right: 10px;

}
#rect11{
    position: absolute;
    bottom: 0px;
    right: 20px;
}
#rect12{
    position: absolute;
    bottom: 0px;
    right: 20px;
}

.rectangle13{
    background: #393381;
    border-radius: 80px 80px 80px 0px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 25px 0;
    justify-content: center;
}

.rectangle13 span b{
    font-size: 30px;
}

.rectangle13 span {
    font-size: 20px;
}

.banner__icon--ffa{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    left: -10px;
    padding: 5px 20px 5px 10px;
}


.banner__icon--ffa h4{
    font-size: 20px;
    font-weight: 700;
}

.banner__icon--ffa p{
    font-size: 13px;
    font-weight: 500;
}

.banner__icon--img{
    background: #393381;
    border-radius: 50%;
    padding: 10px;
}