.careclinic{
    margin: 85px 0px 60px 0px;
}

.careclinic__container {
    display: flex;
    justify-content: center;
}
.care__main--img{
    position: relative;
    background-repeat: no-repeat;
    width: 50%;
}

.careclinic__main--text h2{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

.careclinic__main--text h3{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}



.careclinic__list{
    margin-bottom: 30px;
    list-style-position: inside;
    font-size: 17px;
    font-weight: 500;
}
.careclinic__list li{
    margin-bottom: 10px;

}

#careclinic__btn{
    width: 40%;
    padding: 10px 0;
    justify-content: center;
}

#careclinic__video{
    padding: 20px;
    right: 77px;
    top: 40px;
}

#care__icon--ffa{
    bottom: 80px;
    left: -36px;
}

