.footer--contacts{
    background: #FEF4EB;
    padding: 33px 230px;
    display: flex;
    justify-content: space-between;
    
}

.footer--contacts a{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.footer--links{
    background: #2B2B2B;
    padding: 60px 150px;
    display: flex;
    justify-content: space-between;
}

.footer--links__list li{
    list-style: none;
}

.footer--links__list h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer--links__list a{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;  
    color: #FFFFFF;
    text-decoration: none;
    transition: .5s;
}

.footer--bottom{
    gap: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 400px;
}
.footer--bottom__img{
    display: inline-flex;
    gap: 35px;
    justify-content: center;
}

.footer--links__list a:hover{
    color: aquamarine;
}

.footer--links__list li:hover{
    transform: translateX(-12px);
    transition: .5s;
}