.getstart__main--page{
    display: flex;
    padding: 80px 150px;
    gap: 40px;
}

.getstart__main--title{
margin: auto;
}
.getstart__main--title h1{ 
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 15px;
}

.getstart__main--title span{
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
}

#getstarted--btn{
    width: 40%;
    padding: 10px 0px;
    justify-content: center;
    margin-top: 20px;

}
.getstart__main--cont{
    background: #FEF4EB;
    box-shadow: 0px 8px 20px rgba(221, 221, 221, 0.04);
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 15px;
}

.getstart__main--cont h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.getstart__main--cont span{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}