.healthcare{
    background: linear-gradient(180deg, #FFFFFF 0%, #E0DDFF 100%);
    
}
.healthcare__container{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.healthcare__img{
    display: flex;
    gap: 15px;
    margin: auto 0;
}

.healthcare h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.healthcare ul{
    margin-bottom: 15px;
}

.healthcare li{
    margin-bottom: 10px;
}

.healthcare_list{
    list-style-position: inside;
}

#healthcare__btn{
    width: 40%;
    padding: 10px 0px;
    justify-content: center;
}

.healthcare__contener--img {
    position: relative;
}

#rect14{
    position: absolute;
    top: 14px;
    right: -5px;
    height: 44px;
}

#rect15{
    position: absolute;
    height: 44px;
    bottom: 30px;
    right: -5px;
}


#rect16{
    position: absolute;
    height: 44px;
    right: -5px;
    top: 14px;
}