@import './header';
@import './banner';
@import './careclinic';
@import './healthcare';
@import './WhatandWhy';
@import './talkto';
@import './howdoes';
@import './getstarted';
@import './download';
@import './makeus';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 1440px;
    font-family: 'Poppins';

}

.img-icon{
    background: #393381;
    border-radius: 50%;
    padding: 10px;
}