@import './header';
@import './banner';
@import './careclinic';
@import './healthcare';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 1440px;
}

.img-icon{
    background: #393381;
    border-radius: 50%;
    padding: 10px;
}