header {
  height: 80px;
}

.header-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  justify-content: center;
  gap: 30px;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  gap: 10px;
}

.navbar-container a {
  text-decoration: none;
  color: black;
}

.header-btn {
  background: #393381;
  padding: 10px 30px;
  border-radius: 40px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-btn span {
  line-height: 24px;
}

.header-btn img {
  width: 18px;
  height: 18px;
}

.navbar--btn {
  display: flex;
  gap: 10px;
}

.banner--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
  gap: 30px;
}

.banner {
  background: linear-gradient(180deg, #E0DDFF 0%, #FFFFFF 100%);
}

.main-text {
  width: 50%;
  padding: 50px 0 30px 0;
}

.main-text h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  padding-bottom: 15px;
}

.main-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 15px;
}

.btn-style {
  background: #393381;
  padding: 10px 30px;
  border-radius: 20px 20px 20px 0px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.banner-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.banner-yt {
  align-items: center;
  display: flex;
}

.main-img {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
}

.main-img_cont {
  margin-bottom: 20px;
  position: relative;
}

.rectangle10 {
  margin-top: 100px;
  padding: 15px;
  position: relative;
}

#rect10 {
  position: absolute;
  top: 20px;
  right: 10px;
}

#rect11 {
  position: absolute;
  bottom: 0px;
  right: 20px;
}

#rect12 {
  position: absolute;
  bottom: 0px;
  right: 20px;
}

.rectangle13 {
  background: #393381;
  border-radius: 80px 80px 80px 0px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: 25px 0;
  justify-content: center;
}

.rectangle13 span b {
  font-size: 30px;
}

.rectangle13 span {
  font-size: 20px;
}

.banner__icon--ffa {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background: #FFFFFF;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  bottom: 5px;
  left: -10px;
  padding: 5px 20px 5px 10px;
}

.banner__icon--ffa h4 {
  font-size: 20px;
  font-weight: 700;
}

.banner__icon--ffa p {
  font-size: 13px;
  font-weight: 500;
}

.banner__icon--img {
  background: #393381;
  border-radius: 50%;
  padding: 10px;
}

.careclinic {
  margin: 85px 0px 60px 0px;
}

.careclinic__container {
  display: flex;
  justify-content: center;
}

.care__main--img {
  position: relative;
  background-repeat: no-repeat;
  width: 50%;
}

.careclinic__main--text h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 20px;
}

.careclinic__main--text h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.careclinic__list {
  margin-bottom: 30px;
  list-style-position: inside;
  font-size: 17px;
  font-weight: 500;
}

.careclinic__list li {
  margin-bottom: 10px;
}

#careclinic__btn {
  width: 40%;
  padding: 10px 0;
  justify-content: center;
}

#careclinic__video {
  padding: 20px;
  right: 77px;
  top: 40px;
}

#care__icon--ffa {
  bottom: 80px;
  left: -36px;
}

.healthcare {
  background: linear-gradient(180deg, #FFFFFF 0%, #E0DDFF 100%);
}

.healthcare__container {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.healthcare__img {
  display: flex;
  gap: 15px;
  margin: auto 0;
}

.healthcare h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.healthcare ul {
  margin-bottom: 15px;
}

.healthcare li {
  margin-bottom: 10px;
}

.healthcare_list {
  list-style-position: inside;
}

#healthcare__btn {
  width: 40%;
  padding: 10px 0px;
  justify-content: center;
}

.healthcare__contener--img {
  position: relative;
}

#rect14 {
  position: absolute;
  top: 14px;
  right: -5px;
  height: 44px;
}

#rect15 {
  position: absolute;
  height: 44px;
  bottom: 30px;
  right: -5px;
}

#rect16 {
  position: absolute;
  height: 44px;
  right: -5px;
  top: 14px;
}

.waw__main--page {
  background: #E0DDFF;
  display: flex;
  flex-direction: column;
  padding: 80px 150px;
}

.waw__main--container {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.waw__main--container h2 {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 15px;
}

.waw__main--container span {
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
}

.talkto__main--page {
  background: linear-gradient(180deg, #E0DDFF 0%, #FFFFFF 100%);
  display: flex;
  padding: 80px 150px;
  gap: 40px;
}

.talkto__main--text h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  padding-bottom: 15px;
}

.talkto__main--text span {
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
  padding-bottom: 15px;
}

#startonlinevisit {
  width: 30%;
  padding: 10px 0;
  justify-content: center;
  margin-top: 30px;
}

.talkto__main--img {
  position: relative;
}

#talktovideo {
  position: absolute;
  padding: 20px;
  top: 30px;
  right: -35px;
}

#talktocall {
  position: absolute;
  bottom: 40px;
  left: -35px;
}

.howdoes--main__page {
  background: linear-gradient(180deg, #FFFFFF 0%, #E0DDFF 50.52%, #FFFFFF 100%);
  padding: 80px 0;
}

.howdoes--main__title {
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.howdoes--main__cont {
  padding: 30px 220px;
}

.howdoes--cont__box {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 8px 20px rgba(221, 221, 221, 0.04);
  border-radius: 40px;
  padding: 20px;
  margin: 20px 0;
}

.howdoes--cont__nr {
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  color: #393381;
  padding: 15px;
}

.howdoes--cont__text h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  padding-bottom: 15px;
}

.howdoes--cont__text span {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
}

#howdoes--btn {
  justify-content: center;
  width: 20%;
  margin: auto;
}

.getstart__main--page {
  display: flex;
  padding: 80px 150px;
  gap: 40px;
}

.getstart__main--title {
  margin: auto;
}

.getstart__main--title h1 {
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 15px;
}

.getstart__main--title span {
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
}

#getstarted--btn {
  width: 40%;
  padding: 10px 0px;
  justify-content: center;
  margin-top: 20px;
}

.getstart__main--cont {
  background: #FEF4EB;
  box-shadow: 0px 8px 20px rgba(221, 221, 221, 0.04);
  border-radius: 30px;
  margin-bottom: 15px;
  padding: 15px;
}

.getstart__main--cont h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.getstart__main--cont span {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.download {
  background: #FEF4EB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 150px;
}

.download h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.download__img--cont {
  gap: 20px;
  display: flex;
}

.makeus--main__page {
  padding: 80px 150px;
}

.makeus--main--title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}

.makeus--main--title h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
}

.makeus--main--title span {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.makeus--main__frame {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 15px;
}

.makeus--main__cont {
  background: #393381;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
  border-radius: 50px;
  text-align: left;
  padding: 30px;
}

.makeus--main__cont h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  color: #FFFFFF;
}

.makeus--main__cont span {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #FFFFFF;
}

.footer--contacts {
  background: #FEF4EB;
  padding: 33px 230px;
  display: flex;
  justify-content: space-between;
}

.footer--contacts a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer--links {
  background: #2B2B2B;
  padding: 60px 150px;
  display: flex;
  justify-content: space-between;
}

.footer--links__list li {
  list-style: none;
}

.footer--links__list h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.footer--links__list a {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.5s;
}

.footer--bottom {
  gap: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px 400px;
}

.footer--bottom__img {
  display: inline-flex;
  gap: 35px;
  justify-content: center;
}

.footer--links__list a:hover {
  color: aquamarine;
}

.footer--links__list li:hover {
  transform: translateX(-12px);
  transition: 0.5s;
}

.dropdown {
  position: relative;
}

.dropdown ul {
  width: 250px;
  text-align: center;
  position: absolute;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border-radius: 7px;
  display: none;
}

.dropdown ul li {
  padding: 0.5rem;
}

.dropdown ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.dropdown ul li:hover {
  background: #E0DDFF;
  border-radius: 10px;
}

.dropdown a:hover + ul,
.dropdown ul:hover {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Poppins";
}

.img-icon {
  background: #393381;
  border-radius: 50%;
  padding: 10px;
}/*# sourceMappingURL=styles.css.map */